<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Join Page</title>
    <style>
        .field-error {
            color: red;
            font-size: 0.75rem;
        }
    </style>
</head>
<body>
Join Page
<hr>
<form th:action="@{/joinProc}" method="post" th:object="${joinDto}" name="joinForm">

    <div>
        <div>
            <input type="text"
                   th:field="*{nickname}"
                   th:errorclass="field-error"
                   placeholder="닉네임를 입력하세요."/>
            <div class="field-error" th:errors="*{nickname}"></div>
        </div>
        <input type="text"
               th:field="*{username}"
               th:errorclass="field-error"
               placeholder="아이디를 입력하세요."
               autofocus/>
        <div class="field-error" th:errors="*{username}"></div>
    </div>

    <div>
        <input type="password"
               th:field="*{password}"
               th:errorclass="field-error"
               placeholder="비밀번호를 입력하세요."/>
        <div class="field-error" th:errors="*{password}"></div>

    </div>

    <button type="submit">회원가입</button>
</form>
</body>
</html>