<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Join Page</title>
</head>
<body>
Join Page
<hr>
<form action="/joinProc" method="post" name="joinForm">
    <input type="text" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="submit" value="join"/>
</form>
</body>
</html>