<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <style>
        .social-login {
            margin-top: 20px;
        }
    </style>
</head>
<body>
Login Page
<hr>
<form action="/loginProc" method="post" name="loginForm">
    <input id="username" type="text" name="username" placeholder="id"/>
    <input id="password" type="password" name="password" placeholder="password"/>
    <input type="submit" value="login"/>
    <div class="social-login">
        <a href="/oauth2/authorization/kakao">
            <img src="/image/kakao_login_medium_narrow.png" alt="카카오 로그인"/>
        </a>
    </div>
</form>
</body>
</html>